---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeader from '../components/PageHeader.astro';
import MiddleHeader from '../components/MiddleHeader.astro';
import Button from '../components/Button.astro';
import MvCard from '../components/MvCard.astro';
import DiscCard from '../components/DiscCard.astro';
import DramaCard from '../components/DramaCard.astro';
import Accordion from '../utils/Accordion.astro'
import AccordionItem from '../utils/AccordionItem.astro'
import WIP from '../components/Wip.astro';

import mv from '../contents/works/mv.json';
import discography from '../contents/works/discography.json';
import drama from '../contents/works/drama.json';
import live from '../contents/works/live.json';

let title = '作品';

---

<style lang="scss">
	.toc {
		background-color: #ffffff;
		overflow: hidden;
		border-radius: 8px;
		margin-bottom: 60px;

		ul {
			display: flex;
			justify-content: space-between;
			align-content: center;
			padding: 0;

			li {
				list-style: none;
				width: 25%;
				border-style: solid;
				border-color: #efefef;
				border-width: 0 1px 0 0;

				&:last-child {
					border-right: 0;
				}

				a {
					width: 100%;
					height: 100%;
					text-align: center;
					display: block;
					font-size: 20px;
					font-weight: bold;
					text-decoration: none;
					color: #333333;
					padding: 8px;

					&:hover {
						background-color: #ff4697;
						color: #ffffff;
					}
				}
			}
		}
	}

	.discography {
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			&__hiddenBox {
				display: block;
				content: '';
				max-width: 301.33px;
				width: calc(33.33% - 16px);
			}
		}
	}

	.mv {
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			&__hiddenBox {
				display: block;
				content: '';
				max-width: 484px;
				width: calc(50% - 8px);
			}
		}
	}

	.live {
		margin-bottom: 36px;

		p {
			margin-bottom: 8px;
		}
		&__links {
			margin-top: 16px;
			display: flex;
			flex-wrap: wrap;
			gap: 4px 8px;
		}
	}

	.drama {
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			&__hiddenBox {
				display: block;
				content: '';
				max-width: 484px;
				width: calc(50% - 8px);
			}
		}
	}

</style>

<BaseLayout title={title}>
	<PageHeader title={title} marginBottom="16" />

	<div class="toc">
		<ul>
			<li><a href="#discography">ディスコグラフィー</a></li>
			<li><a href="#mv">MV</a></li>
			<li><a href="#live">ライブ</a></li>
			<li><a href="#drama">ドラマ</a></li>
		</ul>
	</div>

	<WIP text="レギュラー番組は別ページにまとめる予定です" />
	<WIP text="雑誌掲載情報、ロケ地情報を別ページにまとめる予定です" />

	<div class="discography" id="discography">
		<MiddleHeader title="ディスコグラフィー" />
		<div class="discography__container">
			{discography.map((item)=>(<DiscCard data={item} />))}
			<div class="discography__container__hiddenBox"></div>
		</div>
	</div>

	<div class="mv" id="mv">
		<MiddleHeader title="MV" />
		<div class="mv__container">
			{mv.map((item)=>(<MvCard data={item} />))}
			<div class="mv__container__hiddenBox"></div>
		</div>
	</div>
	
	<div class="live" id="live">
		<MiddleHeader title="ライブ" />
		<Accordion>
			{live.map((item)=>(
				<AccordionItem header={item.title}>
					<p>
						会期: {item.startDate === item.endDate ?
							item.startDate :
							item.startDate + "~" + item.endDate
						}
					</p>
					<p>
						於: <a href={"https://www.google.com/maps/search/" + item.location.latitude + "," + item.location.longitude}>{item.location.name}</a>
					</p>
					{item.production &&
						<p>制作: {item.production}</p>
					}
					{item.operation &&
						<p>運営: {item.operation}</p>
					}
					{item.supporter &&
						<p>サポート: {item.supporter}</p>
					}
					{item.website &&
						<p>
							<a href={item.website}>ライブ公式ウェブサイト</a>
						</p>
					}
					{item.type &&
						<p>開催形態: {item.type}</p>
					}
					<div class="live__links">
						{item.nogiDogaId && <Button text="のぎ動画で見る" link={"https://nogidoga.com/episode/" + item.nogiDogaId} /> }
						{item.asin && <Button text="購入する" link={"https://www.amazon.co.jp/s?k=" + item.asin} /> }
						{item.youtubeId && <Button text="YouTubeで見る" link={"https://www.youtube.com/watch?v=" + item.youtubeId} /> }
					</div>
				</AccordionItem>
			))}
		</Accordion>
	</div>
	
	<div class="drama" id="drama">
		<MiddleHeader title="ドラマ" />
		<div class="drama__container">
			{drama.map((item)=>(<DramaCard data={item} />))}
			<div class="drama__container__hiddenBox"></div>
		</div>
	</div>


	<!-- Todo: ディスコグラフィ・YouTube-->
	<!-- Todo: ポジション-->
	<!-- Todo: レギュラー番組-->

	<!-- Todo: 出演はスケジュールにまとめる-->
	<!-- Todo: ロケ地欲しいよねー。-->
</BaseLayout>