---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageHeader from '../../components/PageHeader.astro';
import WIP from '../../components/Wip.astro';
let title = 'スケジュール';

const schedules = (await getCollection('schedules')).sort(
	(a, b) => new Date(b.data.schedule).valueOf() - new Date(a.data.schedule).valueOf()
);

---

<style lang="scss">
.newsList {
	display: block;
	font-size: 16px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
    transition: all 0.15s;
	margin-bottom: 4px;

	&__scheduleDate {
		font-size: 16px;
		font-weight: normal;
	}

	&:hover {
		text-decoration: underline;
		color: #e84e91;
	    transition: all 0.15s;
	}
}
</style>

<BaseLayout title={title}>
	<PageHeader title={title} marginBottom="16" />

	<!-- <WIP text="過去のスケジュールは随時追加する予定です。" /> -->

	{schedules.map((post) => (
		<a href={`schedule/${post.slug}`} class="newsList">
			<h3 class="newsList__title">{post.data.title}</h3>
			<span class="newsList__scheduleDate">{post.data.schedule}</span>
		</a>
	))}
</BaseLayout>
